<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f7bd0044-8279-4285-95b6-7829a0250a1c/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/AppWb1</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://appwb1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>appwb1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AppWb1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$AppWb1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ColegioEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:colegio-server.database.windows.net,1433;Initial Catalog=Colegio;User ID=admin1@colegio-server;Password=Ultrascali1992+" Name="Data Source=tcp:colegio-server.database.windows.net,1433;Initial Catalog=Colegio;User Id=admin1@colegio-server;Password=Ultrascali1992+" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AppWeb.Models.ColegioEntities, AppWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ColegioEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.db.csdl|res://*/Models.db.ssdl|res://*/Models.db.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:colegio-server.database.windows.net,1433;Initial Catalog=Colegio;User Id=admin1@colegio-server;Password=Ultrascali1992+"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>