@{
    ViewBag.Title = "Home Page";
}


<body>

    <section class="contenedor seccion">
        <h2 class="fw-300 centrar-texto">Centro de Formación</h2>

        <div class="iconos-nosotros">
            <div class="icono">
                <img src="~/Img/udec.png" width="150" height="150" alt="Icono Seguridad">
                <h3>Bienvenidos A la aplicacion de Miguel Guarin Y Jesica Muñoz</h3>
                
            </div>
        </div>
    </section>

</body>
</html>